# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Build temporary
lighttpd-1.4.32/*/.deps/
lighttpd-1.4.32/*/.libs/
lighttpd-1.4.32/.project
lighttpd-1.4.32/.cproject
